
<link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="/css/sign_up.css">

<body>
    <div class="main">

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="/images/animation_300_kegqd174 (1).gif" alt="sing up image"></figure>
                <a href="/user/sign_Up" class="signup-image-link"><h4>Create New Account</h4></a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign In</h2>
                <form  action="/user/create-session" method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="email"  id="your_email" placeholder="Your Email" name="email" required>			

                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password"  name="password" required id="your_pass" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <div>
                    <a href="/reset_password/enter_email">Forget password</a>
                </div>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="/user/auth/facebook"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="/user/auth/twitter"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="/user/auth/google"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<script src="/js/usersignin.js"></script>
</div>
</body>