footer{
background-color: rgb(46, 46, 46);
height: 30px;
width: 100%;
position: fixed;
bottom: 0px;
    h5{
        text-align: center;
        color: white;
        font-size: 20px;
        padding-top: 5px;
    }
}