<div>
    <p>Hello <b><%=comment.user.name%></b></p>
    <br>
    <br>
    <p>glad to say that you comment <b><%=comment.content%></b>has been published</p>
    <br>
    <br>
    <p>Thank You ! :)</p>

</div>