<form class="form-signin" action="/user/resetpassword/check_otp/<%=user_id%>" method="post">
    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Enter Your OTP</h1>
    <label for="otp" class="sr-only">Otp Enter Here</label>
    <input type="text" id="otp" class="form-control" placeholder="Otp In Email" required name="otp" autofocus="">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>